body {
	background-color: black;
	color: aliceblue;
    font-family: 'Inconsolata', monospace;
}

.pojemnik {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#haslo {
	text-align: center;
	color: red;
	font-size: 48px;
    margin-top: 35px;
    margin-bottom: 35px;
}

#obrazek {
	min-height: 480px;
	min-width: 480px;
	float: left;
}

#obrazek img {
	width: 480px;
	height: 480px;
}

#alfabet {
	height: 480px;
	width: 480px;
	float: left;
	background: black;
}

.literki {
    color: gainsboro;
    border: 4px solid gainsboro;
    border-radius: 6px;
    float: left;
    margin: 15px;
    padding: 6px;
    font-size: 36px;
    cursor: pointer;
}

.literki:hover {
    color: white;
    border: 4px solid white;
    background-color: dimgray;
}

.clicked-false {
    color: red;
    border: 4px solid red;
    background-color: darkred;
}

.clicked-true {
    color: limegreen;
    border: 4px solid limegreen;
    background-color: darkgreen;
}